<div>
  <mat-toolbar color="primary" class="navbar">
    <span class="navabar-brand">
      <button mat-button routerLink="/home" routerLinkActive="active">
        <img class="img-fluid" src="assets/img/logo.png" alt="image">
      </button>
    </span>
    <span class="spacer"></span>
      @if(login == false){
        <button mat-button routerLink="/login" routerLinkActive="active">
          <span style="font-size: 16px;">Login</span>
          <mat-icon >account_circle</mat-icon>
        </button>
      } @else {
        <button mat-button routerLink="/transfer" routerLinkActive="active">
          Transfer
          <mat-icon> monetization_on</mat-icon>
        </button>
        <button mat-button routerLink="/buddys" routerLinkActive="active">
          Buddys
          <mat-icon> contacts</mat-icon>
        </button>

        <button mat-button [matMenuTriggerFor]="animals">
          <mat-icon >account_circle</mat-icon>
          Profile
        </button>
        <mat-menu #animals="matMenu">
          <button class="button-menu" mat-menu-item routerLink="/profile/configuration">
            <mat-icon>settings</mat-icon>
            Configuration
          </button>
          <button class="button-menu" mat-menu-item routerLink="/profile/portefeuille" >
            <mat-icon>account_balance_wallet</mat-icon>
            Portefeuille
          </button>
        </mat-menu>

        <button mat-button (click)="logout()">
          Logout
          <mat-icon>exit_to_app</mat-icon>
        </button>
      }
  </mat-toolbar>
</div>

<router-outlet ></router-outlet>
