<div class="container">
    <div class="centralizer">
        <mat-card>
            <mat-card-title class="card-title">
                <span style="padding-left: 20px;">Envoyer de l'argent</span>
                <span>
                    <button class="buddy-button" mat-raised-button routerLink="/buddys">
                        Buddys
                    </button>
                </span>
            </mat-card-title>
            <mat-card-actions class="example-container">
                <mat-form-field>
                    <mat-label>Selectionez un Buddy</mat-label>
                    <mat-select>
                        @for (buddy of selectOptions; track buddy.nom){
                          <mat-option value="standard">{{buddy.prenom}}  {{buddy.nom}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="always">
                <mat-label>Montant</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0">
                </mat-form-field>
                <button class="payer-button" mat-raised-button color="primary">
                Payer
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title >
                <span style="padding-left: 20px;">Mes Transactions</span>
            </mat-card-title>

            <mat-card-actions class="example-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="userOrigine">
                      <th mat-header-cell *matHeaderCellDef> Buddy Origine </th>
                      <td mat-cell *matCellDef="let element"> {{element.portefeuilleOrigine.user.nom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="userDestination">
                      <th mat-header-cell *matHeaderCellDef> Buddy Destination </th>
                      <td mat-cell *matCellDef="let element"> {{element.portefeuilleDestination.user.nom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="montant">
                      <th mat-header-cell *matHeaderCellDef> Montant </th>
                      <td mat-cell *matCellDef="let element"> {{element.montant}} €</td>
                    </ng-container>

                    <ng-container matColumnDef="dateTransaction">
                      <th mat-header-cell *matHeaderCellDef> Date de Transaction</th>
                      <td mat-cell *matCellDef="let element"> {{element.dateTransaction}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
