<div style="width: 80%; margin: auto;">
  <form [formGroup]="retrait">
    <mat-card style="width: 80%; margin: auto;">
      <mat-card-header class="card-header" style="margin: auto;">
        <mat-card-title style="padding: 10px 20px 0 20px;">Montant</mat-card-title>
        <div >
          <mat-form-field appearance="outline">
            <mat-label>Montant</mat-label>
            <input type="number" matInput placeholder="Montant" formControlName="montant">
            <span style="margin-right: 20px;" matSuffix>€</span>
          </mat-form-field>
        </div>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div style="width: 100%; display: flex; justify-content: center;">
          <p></p>
          <mat-form-field appearance="outline" style="width: 60%;">
            <mat-label>IBAN</mat-label>
            <input matInput #input minlength="18" maxlength="34" placeholder="Iban" formControlName="iban" (input)="ibanController()">
            @if("iban.invalid && (iban.dirty || iban.touched)"){
              <mat-error>
                Entre a valid IBAN
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div style="width: 100%; display: flex; justify-content: center;">
          <p></p>
          <mat-form-field appearance="outline" style="width: 60%;">
            <mat-label>BIC</mat-label>
            <input matInput #input minlength="8" maxlength="11" placeholder="BIC" formControlName="bic" (input)="bicController()" required>
            @if("bic.invalid && (bic.dirty || bic.touched)"){
              <mat-error>
                Entre a valid BIC
              </mat-error>
            }
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: center;">
        <button mat-raised-button color="primary" style="padding: 25px; font-size: 20px;" [disabled]="retrait.invalid" (click)="deposer()">DÉPOSER</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
