<div class="container">
  <div class="centralizer">
      <div style="text-align: end;">
        <h1 style="color: blue">Solde: {{solde}} €</h1>
      </div>
      <mat-card>
          <mat-card-title class="card-title">
              <h2 style="margin-left: auto; margin-right: auto;">Dépôt</h2>
          </mat-card-title>

          <mat-card-actions class="example-container">
              <table mat-table [dataSource]="dataSourceDepot" class="mat-elevation-z8 table-depot">

                  <ng-container matColumnDef="carte">
                      <th mat-header-cell *matHeaderCellDef> Carte </th>
                      <td mat-cell *matCellDef="let element">
                        @if(element.carte){
                          {{element.carte.numCarte}}
                        }
                      </td>
                    </ng-container>

                  <ng-container matColumnDef="iban">
                    <th mat-header-cell *matHeaderCellDef> Iban </th>
                    <td mat-cell *matCellDef="let element">
                    @if(element.iban){
                      {{element.iban.iban}} {{element.iban.codeBanque}} {{element.iban.codeGuichet}} {{element.iban.numeroCompte}} {{element.iban.cleRib}}
                    }</td>
                  </ng-container>

                  <ng-container matColumnDef="montantTotal">
                    <th mat-header-cell *matHeaderCellDef> montant Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.montantTotal}} €</td>
                  </ng-container>

                  <ng-container matColumnDef="taxe">
                    <th mat-header-cell *matHeaderCellDef> Taxe (5%) </th>
                    <td mat-cell *matCellDef="let element"> {{element.taxe}} €</td>
                  </ng-container>

                  <ng-container matColumnDef="montantLiquide">
                    <th mat-header-cell *matHeaderCellDef> montant Liquide </th>
                    <td mat-cell *matCellDef="let element"> {{element.montantLiquide}} €</td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateDepot}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
          </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title class="card-title">
            <h2 style="margin-left: auto; margin-right: auto;">Retrait</h2>
        </mat-card-title>

        <mat-card-actions class="example-container">
            <table mat-table [dataSource]="dataSourceRetrait" class="mat-elevation-z8 table-depot">

                <ng-container matColumnDef="iban">
                  <th mat-header-cell *matHeaderCellDef> Iban </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.iban.iban}} {{element.iban.codeBanque}} {{element.iban.codeGuichet}} {{element.iban.numeroCompte}} {{element.iban.cleRib}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="montantTotal">
                  <th mat-header-cell *matHeaderCellDef> montant Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.montantTotal}} €</td>
                </ng-container>

                <ng-container matColumnDef="taxe">
                  <th mat-header-cell *matHeaderCellDef> Taxe (5%) </th>
                  <td mat-cell *matCellDef="let element"> {{element.taxe}} €</td>
                </ng-container>

                <ng-container matColumnDef="montantLiquide">
                  <th mat-header-cell *matHeaderCellDef> montant Liquide </th>
                  <td mat-cell *matCellDef="let element"> {{element.montantLiquide}} €</td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateRetrait}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsRetrait"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsRetrait;"></tr>
              </table>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
