
.container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralizer{
  width: 80%;
}

.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
}

.buddy-button{
  font-size: 20px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: green;
  color: white;
}

.table-depot{
  width: 100%;
}
